<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIR 2025</title>
  </head>
  <body>
    <header>
      
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
